//-link(href='a_stylesheet.css', rel='stylesheet')
//-include a_stylesheet.css
form(action="/ingredient/create", method="POST")
  p="enter in an ingredient"
  span Ingredient Name
  input(type="text", name="ingredient")
  span Cost
  input(type="text", name="cost")
  input(type="submit")
