<head>
	<link rel="stylesheet" type="text/css" href="crappy.css">
</head>
<body>
	<h3 class="title">Crappy Twitter</h3>
	<div class='tweetBox'>
		<h1 class="twitTitle">Compose a Twit</h1>
		<textarea size=140 type='text' class='composeTweet'> </textarea>
		<input class='sendTweet' type='button' value="Send Twit">
	</div>

	<div class='tweetList'>
		<h1 class="streamTitle">Look at all these twits!</h1>
		<div class="tweet">
			<h2>Paul Booth</h2>
			<div class='tweetText'>
				I love to draw marks with black sharpie on the arms of Whovians when they are asleep. #nerdpranks
			</div>
		</div>	
		<div class="tweet">
			<h2>Jia Huang</h2>
			<div class='tweetText'>
				I love to draw marks with black sharpie on the arms of Whovians when they are asleep. #nerdpranks
			</div>
		</div>	<div class="tweet">
			<h2>Mark Chang</h2>
			<div class='tweetText'>
				I love to draw marks with black sharpie on the arms of Whovians when they are asleep. #nerdpranks
			</div>
		</div>	<div class="tweet">
			<h2>David Gaynor</h2>
			<div class='tweetText'>
				I love to draw marks with black sharpie on the arms of Whovians when they are asleep. #nerdpranks
			</div>
		</div>	<div class="tweet">
			<h2>Paul Booth</h2>
			<div class='tweetText'>
				I love to draw marks with black sharpie on the arms of Whovians when they are asleep. #nerdpranks
			</div>
		</div>	<div class="tweet">
			<h2>Paul Booth</h2>
			<div class='tweetText'>
				I love to draw marks with black sharpie on the arms of Whovians when they are asleep. #nerdpranks
			</div>
			<div class="tweet">
			<h2>Paul Booth</h2>
			<div class='tweetText'>
				I love to draw marks with black sharpie on the arms of Whovians when they are asleep. #nerdpranks
			</div>
			<div class="tweet">
			<h2>Paul Booth</h2>
			<div class='tweetText'>
				I love to draw marks with black sharpie on the arms of Whovians when they are asleep. #nerdpranks
			</div>
		</div>	
	</div>
</body>