extends layout

block content
  h1 There are #{done.length} people done and #{help.length} people that need help
  a(id="clear", class="btn btn-large btn-success") Clear

  div
    p These people need help
    ul
      each item in help
        li #{item.name}
block js
  script( src="/javascripts/jquery-1.8.3.min.js" )
  script( src="/javascripts/admin.js" )